<%- include('layout/header')  %>

<div class="container">
    <div class="row">
        <div class="form-data">
            <div class="card-header bg-success">
            <h3 class="text-light">Edit User (<%= user.name %>)</h3>
            </div>
            <form class="first" action="/update/<%= user._id %>" method="POST" enctype="multipart/form-data">
                <label for="name">Name:</label>
                <input type="text" id="name" name="name" value="<%= user.name %>" required><br><br>
        
                <label for="email">Email:</label>
                <input type="email" id="email" name="email"  value="<%= user.name %>" required><br><br>
        
                <label for="phone">Phone:</label>
                <input type="tel" id="phone" name="phone" value="<%= user.email %>" required><br><br>
        
                <label for="image" class="form-label">Choose Image:</label>
                <input type="file" id="image" name="image" accept="image/*" required><br><br>
                <img src="/<%= user.image %>" width="100" class="img-thumbnail mt-1" >
          
                 <input type="hidden" name="old_image" value="<% user.image %>">
               <input type="submit" name="submit" value="Update User" class="btn btn-success btn-lg " />
            </form>
        </div>

        <style>
            .form-data {
                font-family: Arial, sans-serif;
            }
    
            .first {
                border: 2px solid #ccc; /* Border style */
                padding: 20px;
                border-radius: 10px; /* Rounded corners */
            }
    
            label {
                display: block;
                margin-bottom: 10px;
            }

            label {
            display: block;
            margin-bottom: 10px;
        }

        input {
            width: 100%;
            padding: 10px;
            margin-bottom: 15px;
            border: 1px solid #ccc;
            border-radius: 5px;
            box-sizing: border-box;
        }

        button {
            padding: 10px 20px;
            background-color: #4CAF50;
            color: white;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }

        button:hover {
            background-color: #45a049;
        }
        </style>
    
     
    </div>
</div>
<%- include('layout/footer')  %>